name: CI & Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install SSH key
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          echo "${{ secrets.KNOWN_HOSTS }}" > ~/.ssh/known_hosts

      - name: Sync repository to server
        run: |
          # rsync -e "ssh -i $HOME/.ssh/id_rsa -o StrictHostKeyChecking=no" --archive --compress --delete . ${{ secrets.REMOTE_DEST }}
          rsync -e "ssh -i $HOME/.ssh/id_rsa -o StrictHostKeyChecking=no" -av --delete --exclude='.git' --exclude='node_modules' . root@$5.101.51.5:${{ secrets.DEPLOY_PATH }}
        working-directory: ./

      - name: Run docker-compose on server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "
            cd ${{ secrets.DEPLOY_PATH }} &&
            docker-compose pull --ignore-pull-failures || true &&
            docker-compose up -d --build
          "
